
<section class="section" id="chefs">
  <div class="container">
      <div class="row">
          <div class="col-lg-4 offset-lg-4 text-center">
              <div class="section-heading">
                  <h6>Nuestros Devs</h6>
                  <h2>Las personas que hicieron posible esta plataforma</h2>
              </div>
          </div>
      </div>
      <div class="row cards-container">
          <div class="col-lg-4">
              <div class="chef-item">
                  <div class="thumb">
                      <div class="overlay"></div>
                      <ul class="social-icons">
                          <li><a target="_blank" href="https://github.com/JorgeLuisValenzuelaBustos"><i class="fab fa-github"></i></a></li>
                      </ul>
                      <img src="https://i.imgur.com/AEF9WyK.png" alt="Developer 1">
                  </div>
                  <div class="down-content">
                      <h4>Jorge Valenzuela</h4>
                      <span>Frontend developer</span>
                  </div>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="chef-item">
                  <div class="thumb">
                      <div class="overlay"></div>
                      <ul class="social-icons">
                          <li><a target="_blank" href="https://github.com/MelinaMacias"><i class="fab fa-github"></i></a></li>
                      </ul>
                      <img src="https://i.imgur.com/RLel0q0.jpg" alt="Developer 2">
                  </div>
                  <div class="down-content">
                      <h4>Melina Macias</h4>
                      <span>Frontend developer e integración</span>
                  </div>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="chef-item">
                  <div class="thumb">
                      <div class="overlay"></div>
                      <ul class="social-icons">
                          <li><a target="_blank" href="#"><i class="fab fa-github"></i></a></li>
                          <li><a target="_blank" href="#"><i class="fab fa-twitter"></i></a></li>
                      </ul>
                      <img src="assets/images/chefs-02.jpg" alt="Developer 3">
                  </div>
                  <div class="down-content">
                      <h4>Emanuel Parra</h4>
                      <span>Backend Developer</span>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 last-items">
              <div class="chef-item">
                  <div class="thumb">
                      <div class="overlay"></div>
                      <ul class="social-icons">
                          <li><a target="_blank" href="#"><i class="fab fa-github"></i></a></li>
                          <li><a target="_blank" href="#"><i class="fab fa-twitter"></i></a></li>
                      </ul>
                      <img src="https://i.imgur.com/Z4YWDGw.jpg" alt="Developer 4">
                  </div>
                  <div class="down-content">
                      <h4>Aron Caballero</h4>
                      <span>Frontend developer</span>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 last-items">
              <div class="chef-item">
                  <div class="thumb">
                      <div class="overlay"></div>
                      <ul class="social-icons">
                          <li><a target="_blank" href="#"><i class="fab fa-github"></i></a></li>
                          <li><a target="_blank" href="#"><i class="fab fa-twitter"></i></a></li>
                      </ul>
                      <img src="https://i1.rgstatic.net/ii/profile.image/744006761861124-1554396443519_Q512/Allan-Avendano-3.jpg" alt="Tutor">
                  </div>
                  <div class="down-content">
                      <h4>Allan Avendaño</h4>
                      <span>Tutor</span>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<app-footer></app-footer>
