/*
#titulo {
   font-size: 30px;
   font-weight: 900;
}

#contenedor {
   display: grid;
   grid-template-columns: 25% 50%;
}


#contenedor #descripcion{
   font-size: 14px;
   line-height: 25px;
   color: #2a2a2a;
}
*/

img{
   margin-top: 19%;
   width: 90%;
}
