<!--- <h2>{{noticia.titulo}}</h2>
{{noticia.descripcion}} <br>
<img src="noticia.imagen" alt=""> <br> -->

<div>
    <div class="container">
        <div class="row">
            <div class="noticia col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-10 col-sm-12 col-12">
                        <div class="left-text-content">
                            <div class="section-heading">
                                <h2 id="titulo">Titulo Noticia</h2>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe beatae suscipit nobis minima quasi libero modi, voluptas molestias ad enim repellendus! Harum nihil illo pariatur eum quasi. Praesentium, iure temporibus.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-10 col-sm-12 col-xs-12">
                        <div class="right-content">
                            <img src="https://e00-marca.uecdn.es/assets/multimedia/imagenes/2020/04/08/15863374252712.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="noticia col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-10 col-sm-12 col-xs-12">
                        <div class="left-text-content">
                            <div class="section-heading">
                                <h2 id="titulo">Titulo Noticia</h2>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe beatae suscipit nobis minima quasi libero modi, voluptas molestias ad enim repellendus! Harum nihil illo pariatur eum quasi. Praesentium, iure temporibus.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-10 col-sm-12 col-xs-12">
                        <div class="right-content">
                            <img src="https://e00-marca.uecdn.es/assets/multimedia/imagenes/2020/04/08/15863374252712.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


