<section class="news-section">
  <div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 offset-lg-4 text-center">
          <div class="section-heading" style="margin-bottom: 0px;">
            <h6 id="menu-section">{{title}}</h6>
            <h2>{{subtitle}}</h2>
          </div>
        </div>
      </div>
      <div class="row">

        <div class="noticia col-lg-6 col-md-6 col-sm-12 col-xs-12" *ngFor="let noticia of noticias">
          <div class="row">
            <div class="col-lg-6 col-md-10 col-sm-12 col-12">
              <div class="left-text-content">
                <div class="section-heading">
                  <h2 id="titulo">{{noticia.title}}</h2>
                </div>
                <p>{{noticia.description}}</p>
              </div>
            </div>
            <div class="col-lg-6 col-md-10 col-sm-12 col-xs-12">
              <div class="right-content">
                <img [src]="noticia.urlimage" alt="">
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<app-footer *ngIf="footer"></app-footer>
