
<div class="row justify-content-between">
    <div class="col-6">
        <div class="card">
            <div class="card-header ui-sortable-handle" style="cursor: move;">
                <h3 class="card-title">
                    <i class="fas fa-chart-bar mr-1"></i>
                    Gráfico total de noticas por usuarios staff
                </h3>
            </div><!-- /.card-header -->
            <div class="card-body">
                <figure id="noticias"></figure>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-header ui-sortable-handle" style="cursor: move;">
                <h3 class="card-title">
                    <i class="fas fa-chart-bar mr-1"></i>
                    Porcentaje de mensajes respondidos
                </h3>
            </div><!-- /.card-header -->
            <div class="card-body">
                <figure id="mensajes"></figure>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-between">
  <div class="col-12">
      <div class="card">
          <div class="card-header ui-sortable-handle" style="cursor: move;">
              <h3 class="card-title">
                  <i class="fas fa-chart-bar mr-1"></i>
                  Porcentaje de mensajes respondidos
              </h3>
          </div><!-- /.card-header -->
          <div class="card-body">
              <figure id="mensajes"></figure>
          </div>
      </div>
  </div>
</div>
