<div class="container">
    <div class="row">
      <div class="card-wrapper col-lg-4 col-md-6 col-xs-12">
        <div class="card">
          <div class="card-header">
            $4.00
          </div>
          <div class="card-img-wrapper">
            <img class="card-img-top" src="fotomenu.jpg" alt="Card image cap">
          </div>
          <div class="card-body">
            <h5 class="card-title">Costillas BQQ</h5>
            <div class="card-content">
              <p class="card-text">Costillas sasonadas con una deliciosa salsa bqq con ensalada</p>
            
            </div>
          </div>
        </div>
      </div>
      <div class="card-wrapper col-lg-4 col-md-6 col-xs-12">
        <div class="card">
          <div class="card-header">
            $3.00
          </div>
          <div class="card-img-wrapper">
            <img class="card-img-top" src="ceviche.jpg" alt="Card image cap">
          </div>
          <div class="card-body">
            <h5 class="card-title">Ceviche de camaron</h5>
            <div class="card-content">
              <p class="card-text">Rico ceviche de camaron.Este ceviche tiene un perfecto equilibrio de sabores, es super fresco y delicioso.</p>
            
            </div>
          </div>
        </div>
      </div>
  
      <div class="card-wrapper col-lg-4 col-md-6 col-xs-12">
        <div class="card">
          <div class="card-header">
            $7.00
          </div>
          <div class="card-img-wrapper">
            <img class="card-img-top" src="Arroz.jpeg" alt="Card image cap">
          </div>
          <div class="card-body">
            <h5 class="card-title">Arroz con menestra</h5>
            <div class="card-content">
              <p class="card-text">La menestra de lentejas es un plato típico ecuatoriano que se prepara cocinando las lentejas con cebolla, pimiento, tomate, ajo, comino y cilantro.</p>
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
