
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins&display=swap');

.header-title {

  background-image: url("/assets/images/top-left-bg.jpg");
  background-repeat: repeat;
  background-position: right;
  background-color: #fb635591;
  color: white;
  height: 100%;
  padding: 42% 12px 12px 15%;

}

.reservationBtn {

  color: #fb5849;
  font-family: 'Poppins';
  font-size: small;
  font-weight: bold;
  padding: 12px;
  margin-top: 12px;

}

.restaurant-name {

  font-family: "Dancing Script";
  font-size: 3em;

}

@media (max-width: 991.98px) {

  .header-title {

    background-color: #fb6355;
    padding: 12px;
    text-align: center;

  }

}
