
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <a class="navbar-brand" routerLink="/"><img src="/assets/images/logo-db2.png"  width="200" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive = "active">
        <a class="nav-link" routerLink="/">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive = "active">
        <a class="nav-link" routerLink="/menu">Menu</a>
      </li>
      <li class="nav-item" routerLinkActive = "active">
        <a class="nav-link" routerLink="/noticias">Noticias</a>
      </li>
      <li class="nav-item" routerLinkActive = "active">
        <a class="nav-link" routerLink="/contacto">Contactenos</a>
      </li>
      <li class="nav-item" routerLinkActive = "active">
        <a class="nav-link" routerLink="/desarrolladores">Equipo de desarrollo</a>
      </li>
      <!-- <li class="nav-item" routerLinkActive = "active">
        <a class="nav-link" [routerLink]=[loginUrl]>Iniciar Sesión</a>
      </li> -->
    </ul>
  </div>
</nav>
