
<a routerLink=".." class="btn btn-block btn-default col-2 pt-2"><i class="fas fa-arrow-left"></i> Regresar</a>

<div class="card mt-4">
    <div class="card-header">
      <h3 class="card-title fw-bold"><span class="text-center">Noticia:</span></h3>
    </div>
    <div class="card-body">
  
        
        <div class="form-group d-flex">            
            <label for="" class="align-self-end pr-2">Título </label>
            <input type="text" [formControl]="titleField"
            class="form-control form-control-sm col-4 align-self-start" >
        </div>
        
        <div class="form-group">
          <label>Descripcion</label>
          <textarea class="form-control" rows="3" 
          [formControl]="descriptionField"></textarea>
        </div>
        
        <div class="form-group">
          <label>URL Imagen</label>
          <input type="text" class="form-control form-control-sm align-self-start" rows="3" 
          [formControl]="imageUrlField">       
        </div>        
        
        <div>
          <button type="button" class="btn btn-primary fw-bold col-5" (click)="nuevaNoticia()"> Crear Noticia</button>
        </div>

    </div>
    
    

