
<footer>
    <div class="row no-gutters">
      <div class="col-12 col-lg-4">
        <div>
          <ul class="social-icons d-flex justify-content-center">
            <li><a href="#"><i class="fab fa-facebook text-white"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter text-white"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin text-white"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram text-white"></i></a></li>
          </ul>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center">
        <div class="logo">
          <a href="index.html"><img src="/assets/images/white-logo.png" alt=""></a>
        </div>
      </div>

      <div class="copyright col-12 col-lg-4 text-center justify-content-center text-lg-right" style="color: white;">
        <div>
          <p style="color: white;">© Copyright La Salsa de Don Bolo

            <br>Design: Grupo Ultima Hora
          </p>
        </div>
      </div>

    </div>
</footer>
