
<div class="row">
  <div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-info">
      <div class="inner">
        <h3>{{estadisticas?.platos}}</h3>

        <p>Platos</p>
      </div>
      <div class="icon">
        <i class="ion ion-bag"></i>
      </div>
      <a href="#" class="small-box-footer" routerLink='./menus'>Más Info <i class="fas fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-success">
      <div class="inner">
        <h3>{{estadisticas?.noticias}}</h3>

        <p>Noticias</p>
      </div>
      <div class="icon">
        <i class="ion ion-stats-bars"></i>
      </div>
      <a href="#" class="small-box-footer" routerLink='./noticias'>Más Info <i class="fas fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-warning">
      <div class="inner">
        <h3>{{estadisticas?.mensajes}}</h3>

        <p>Mensajes de contacto</p>
      </div>
      <div class="icon">
        <i class="ion ion-person-add"></i>
      </div>
      <a href="#" class="small-box-footer" routerLink='mensajes-contacto'>Más Info <i class="fas fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-danger">
      <div class="inner">
        <h3>{{estadisticas?.reservaciones}}</h3>

        <p>Reservaciones</p>
      </div>
      <div class="icon">
        <i class="ion ion-pie-graph"></i>
      </div>
      <a href="#" class="small-box-footer" routerLink='reservas'>Más Info <i class="fas fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <!-- ./col -->
</div>
<app-noticias-bar></app-noticias-bar>

<div class="row justify-content-between">
  <div class="col-12">
    <div class="card">
      <div class="card-header ui-sortable-handle" style="cursor: move;">
        <h3 class="card-title">
          <i class="fas fa-chart-bar mr-1"></i>
          <strong>Registro de mensajes respondidos</strong>
        </h3>
      </div><!-- /.card-header -->
      <div class="card-body">

        <div class="row">
          <div class="col-sm-4">
            <!-- select -->
            <div class="form-group">
              <label>Personal staff</label>
              <select class="custom-select" (change)="getRegistros($event)">
                <option selected>Seleccione un usuario del staff</option>
                <option  *ngFor = "let usuario of usuariosStaff"
                  [value]="usuario?.id">{{usuario?.first_name}} {{usuario?.last_name}}</option>
              </select>
            </div>
          </div>
        </div>

        <table class="table table-bordered">
          <thead>
            <tr>
              <th style="width: 10px">#</th>
              <th>Nombre</th>
              <th>Email</th>
              <th>Fecha de creación</th>
              <th>Fecha de respuesta</th>
              <th class="text-center">Asunto</th>
            </tr>
          </thead>
          <tbody>
            <!-- <tr id="registro-{{registro.id}}" *ngFor="let registro of registroRespuestas"> -->
            <tr id="registro" *ngFor="let registro of registroRespuestas">
              <td>{{registro?.id_staff}}</td>
              <td>{{registro?.nombre_receptor}}</td>
              <td>{{registro?.email_receptor}}</td>
              <td class="text-center">{{registro?.fecha_creacion}}</td>
              <td class="text-center">{{registro?.fecha_respuesta}}</td>
              <td>{{registro?.asunto}}</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
