<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Reservaciones</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <button class="btn btn-primary mb-4" routerLink="./crear">Agregar nueva reserva</button>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th style="width: 10px">#</th>
                <th>Fecha</th>
                <th>Descripción</th>
                <th>Numero de Asientos</th>
                <th style="width: 40px">Acciones</th>
              </tr>
            </thead>
            <tbody>

              <tr id="reserva-{{reserva.id}}" *ngFor="let reserva of reservas">
                <td>{{reserva?.id}}</td>
                <td>{{reserva?.fechaReserva}}</td>
                <td>{{reserva?.detalle}}</td>
                <td class="text-center">{{reserva?.numeroAsientos}}</td>
                <td>
                  <button style="margin-right: 4px; font-size: 12px" class="btn btn-primary btn-sm"
                    routerLink="./{{reserva.id}}"><i class="fas fa-edit"></i></button>
                  <button hasRoles [roles]="['superuser']" style="font-size: 12px" class="btn btn-danger btn-sm" (click)="borrar(reserva)">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

