{% extends 'body.html' %}
{% load widget_tweaks %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="{{ icono }}"></i>
                    {{ title }}
                </h3>
            </div>
            <div class="card-body">
                {% for foo in form %}
                    <div class="form-group">
                        <label>{{ foo.label }}</label>
                        {{ foo| add_class:'form-control' }}
                    </div>
                {% endfor %}
            </div>
            <div class="card-footer d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>

    </form>


{% endblock %}